html{
    scroll-behavior: smooth;
    background-color: #1B4D2E;
}

*{
    padding: 0;
    margin: 0;
    
}
body{
    width: 100%;
}

.main-section{
    height: 85vh;
    font-family: 'Fraunces', sans-serif;

    position: relative;

}

.main-section p{
    font-family: "Plus Jakarta Sans", sans-serif;
}

.main-section#inicio{
    padding: 0PX 3rem;
    background-color: #1B4D2E;

    color: #fff;

    display: flex;
    align-items: center;
}
.main-section .cifras{
    color: #C2A85A;
    font-weight: bold;
}
.main-section#destacados{
    background-color: #EBE9DA;
    padding: 2.5rem;
    display: flex;

    flex-direction: column;
}

.destacados-body{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;

    position: relative;

}
.libroMes{
    margin-top: 15px;
    color: #EBE9DA;
    height: 60vh;
    width: 35vw;
    background-color: #1B4D2E;
    padding: 15px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

}
.lista-libros{
    position: relative;
    top: -15vh;
    
    border-radius: 20px;
    
    width: 40vw;
    height: 75vh;

    overflow-y: auto;
    scroll-behavior: smooth;
}
.lista-libros::-webkit-scrollbar {
    display: none;
}
.libro{
    border: rebeccapurple 1PX solid;
    height: 250px;
    width: 90%;
    background-color: #0E5A2D;
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.libro-aside{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;

    align-items: center;
    justify-content: center;

}
.libro-aside .card{
    width: 10vw;
}
.libro-content{
    display: flex;
    height: 100%;
    width: 70%;

    flex-direction: column;
    
}
.libro-title{
    color: #C8922B;
    border-radius: 20px;
    padding: 5px;
}
.libro-footer{
    margin-top: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}
.libro-footer .button{
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: #F0C05F;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-header{
    height: fit-content;
    color: #C8922B;
    width: 100%;
}
.section-title{
    width: fit-content;
}
.contact-header{
    margin-bottom: 1rem;
}
.contact-section{
    box-sizing: border-box;
    height: 85vh;
    width: 100%;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    padding: 1rem;  
}
.contact-body{
    display: flex;
    justify-content: space-around;

}
.contact-container{
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.contact-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.contact-container img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: auto;

    color: white;
    fill: white;

    margin-right: 0.7rem;
}

.map-container{
    height: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-container iframe{
    width: 45vw;
    height: 25vw;
    border-radius: 40px;
}

#inicio, #contacto, #destacados {
    scroll-margin-top: 15vh;
}

.two-parter{
    width: 50% ;
    height: 80%;
    gap: 2rem;
}
.two-parter .container{
    width: fit-content;
    
}
.row{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    
}


#btnCatalogue{
    background-color: #F0C05F;
    color: black;
    font-weight: bold;
}
#btnLocation{
    border: 2px solid #fff;
}

