html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    
}
body{
    width: 100%;
}

h1,h2{
    font-family: "Fraunces", sans-serif;
    line-height: 1.15;
    font-weight: bold !important;
}
h3{font-family: "Fraunces", sans-serif;}
h1{font-size: clamp(28px, 3.5vw, 46px);}
h2{font-size: clamp(20px, 3vw, 36px);}
a{font-size: clamp(10px, 1.1vw, 15px);}
p{font-family: "Plus Jakarta Sans", sans-serif;}

.carousel-wrapper{
    position: relative; 
    padding: 20px;

    border-left: #000 0px solid;
    border-radius: 10px;

    display: flex;
    align-items: center;
    overflow-x: auto;
} 
.product-row{
    display: flex; 
    overflow-x: auto; 
    gap: 1rem; scroll-behavior: smooth; 
    padding: 20px;
    scroll-snap-type: x mandatory;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 3%,
        black 97%,
        transparent
    );

    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
} 
.product-row::-webkit-scrollbar {
    height: 6px; 
}

.product-row::-webkit-scrollbar-track {
    background: transparent;
}

.product-row::-webkit-scrollbar-thumb {
    background: #c8c5b0;
    border-radius: 999px;
}

.product-row::-webkit-scrollbar-thumb:hover {
    background: #a8a58f;
}
.card{ 
    background-color: #C2A85A;
    flex: 0 0 auto; 
    border-radius: 20px;
    overflow: hidden;
    scroll-snap-align: start;
    
    transition: all 0.3s ease;
}
.carousel-wrapper .card{ 
    width: clamp(150px, 15vw, 300px);
}

.carousel-wrapper .card:hover{
    
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 0 5px #C2A85A;
}

.card img{
    width: 100%;
    aspect-ratio: 2 / 3; 
    object-fit: cover;
    display: block;
}
.libroMes .card{
    width: 9vw;
    min-width: unset; 
}
.libroMes>*{
    margin-bottom: 0;
}
.scroll-btn{ 
    position: absolute; 
    top: 50%; transform: translateY(-50%); 
    background: rgba(0,0,0,0.7); 
    border: none; 
    color: white; 
    font-size: 24px; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 50%; 
} 
.scroll-left{ 
    left: 10px; 
} 
.scroll-right{ 
    right: 10px; 
}

.button{
    all: unset;

    font-family: "Plus Jakarta Sans", sans-serif;
    width: fit-content ;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

@media (max-width: 768px){
    .button{
        font-size: 0.9rem;
        padding: 5px 10px;
    }
}